---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    {/* ===== FUENTES ===== */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {/* Importamos Geist y New Rocker */}
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=New+Rocker&display=swap"
      rel="stylesheet"
    />

    <ClientRouter />
    <LoadingIndicator color="#f4f4f5" height="2px" />
  </head>
  <body>
    <slot />
  </body>
</html>
